@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&display=swap');

.sansBold {
  font-family: "Public Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.sansLight {
  font-family: "Public Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}  



.segundoCarousel {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ancho completo de la ventana */
    max-height: 500px; /* Ajusta la altura según necesites */
  }
  
  .segundoCarousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .segundoCarousel-slide {
    position: relative;
    min-width: 100%;
    height: 500px; /* Ajusta la altura según sea necesario */
  }
  
  .segundoCarousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .segundoCarousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(90deg, #41a62a, #96bf0d);
    color: rgb(255, 246, 246);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .segundoCarousel-button.prev {
    left: 10px;
  }
  
  .segundoCarousel-button.next {
    right: 10px;
  }





/* Para pantallas medianas (tablets) */
@media (max-width: 1024px) {
  .segundoCarousel {
    max-height: 400px; /* Ajustar la altura para tabletas */
  }

  .segundoCarousel-button {
    padding: 8px;
    font-size: 18px;
  }

  .segundoCarousel-image {
    object-position: center; /* Asegura que la imagen esté centrada */
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .segundoCarousel {
    max-height: 300px; /* Ajusta la altura para móviles */
  }

  .segundoCarousel-button {
    padding: 6px;
    font-size: 16px;
  }

  .segundoCarousel-image {
    object-position: center; /* Centra la imagen */
  }
}

/* Para pantallas extra pequeñas */
@media (max-width: 480px) {
  .segundoCarousel {
    max-height: 250px; /* Ajuste de altura para dispositivos pequeños */
  }

  .segundoCarousel-button {
    padding: 4px;
    font-size: 14px;
  }

  .segundoCarousel-image {
    object-position: center; /* Ajusta el posicionamiento de la imagen */
  }
}