@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&display=swap');

.sansBold {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.sansLight {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}  



.tituloInstituciones {
    margin-left: 6em;
    margin-bottom: 2em;
    font-size: 1.2em;
}

.institucionesContainer {
    height: auto;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-direction: row;
}

/* COLORES PARA LOS H2 DE LA GRILLA */
.textTalleres h2 {
    color: #96bf0d;
}
.textDiseño h2 {
    color: #96bf0d;
}
.textSistemas h2 {
    color: #96bf0d;
}
.textComunicacion h2 {
    color: #96bf0d;
}

.textDiseño {
    margin-top: 40px;
}
.textSistemas {
    margin-top: 40px;
}
.textComunicacion {
    margin-top: 40px;
}
.textTalleres {
    margin-top: 40px;
}



.institucionesText {
    margin-left: 1em;
    align-content: end;
    color: #96bf0d;
    text-decoration: none;
}

.institucionesTextContainer {
    width: 90%;
    height: auto;
    margin-top: 7em;
    margin-bottom: 7em;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.whatsappLink {
    color: inherit; /* Toma el color del elemento padre, en este caso el h3 */
    text-decoration: none; /* Opcional, para quitar el subrayado */
}





/* Media Query: Adaptar para pantallas pequeñas */
@media (max-width: 768px) {
    .tituloInstituciones {
        margin-left: 2em;
        font-size: 1.5em;
        text-align: center;
    }

    .institucionesContainer {
        flex-direction: column;
        margin: 0 1em;
        text-align: center;
    }

    .institucionesContainer img {
        width: 100%; /* Imagen ocupará el ancho disponible */
        height: auto;
    }

    .institucionesText {
        margin: 1em 0;
        text-align: center;
    }

    .institucionesTextContainer {
        grid-template-columns: 1fr; /* Una sola columna */
        gap: 2em;
        margin: 2em 1em;
    }

    .textTalleres, .textDiseño, .textSistemas, .textComunicacion {
        text-align: center;
    }

    .whatsappLink {
        font-size: 1em;
        text-align: center;
        display: block; /* Forzar a que ocupe toda la línea */
    }
}

/* Media Query: Adaptar para pantallas extra pequeñas */
@media (max-width: 480px) {
    .tituloInstituciones {
        font-size: 1.2em;
        margin: 1em;
    }

    .institucionesTextContainer {
        gap: 1.5em;
    }

    .whatsappLink {
        font-size: 0.9em;
    }
}