.sansBold {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.sansLight {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
} 
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&display=swap'); 

.nosotrasContainer {
    height: 200px;
}

.tituloNosotras {
    margin-left: 150px;
    margin-top: 100px;
    color: #41a62a;
    font-size: 53.75px;
}

.textoNosotras {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.fotoMaru {
    width: 479px;
    height: 475px;
}

.textMaru {
    margin-left: 50px;
}

.textCeci {
    margin-left: 50px;
}

.fotosContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 233px;
    margin-bottom: 100px;
}

.primerFoto {
    width: 479px;
    height: 475px;
}
.primerFoto h2{
    text-align: left;
}

.segundaFoto {
    width: 479px;
    height: 475px;
    text-align: left;
}
.segundaFoto h2 {
    text-align: left;
}