@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&display=swap');

.sansBold {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.sansLight {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
} 

.nosotrasContainer {
    height: 200px;
}

.tituloNosotras {
    margin-left: 150px;
    margin-top: 100px;
    color: #41a62a;
    font-size: 53.75px;
}

.textoNosotras {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.fotoMaru {
    width: 479px;
    height: 475px;
}

.textMaru {
    margin-left: 50px;
}

.textCeci {
    margin-left: 50px;
}

.fotosContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 233px;
    margin-bottom: 100px;
}

.primerFoto {
    width: 479px;
    height: 475px;
}
.primerFoto h2{
    text-align: left;
}

.segundaFoto {
    width: 479px;
    height: 475px;
    text-align: left;
}
.segundaFoto h2 {
    text-align: left;
}





/* Ajustes para dispositivos pequeños */
@media (max-width: 768px) {
    .tituloNosotras {
        font-size: 36px; /* Reduce el tamaño del título */
        margin: 0 auto; /* Centra el título */
        text-align: center;
    }

    .textoNosotras {
        margin: 1em; /* Reduce los márgenes laterales */
        font-size: 16px; /* Ajusta el tamaño del texto */
    }

    .fotosContainer {
        flex-direction: column; /* Apila las fotos verticalmente */
        align-items: center; /* Centra los elementos en pantallas pequeñas */
        gap: 3em;
    }

    .fotoMaru, .fotoCeci {
        max-width: 90%; /* Las imágenes ocupan el 90% del ancho disponible */
    }

    .textMaru, .textCeci {
        margin-left: 0;
        text-align: center; /* Centra los textos */
    }
}

/* Ajustes para pantallas extra pequeñas */
@media (max-width: 480px) {
    .tituloNosotras {
        font-size: 28px; /* Reduce aún más el título */
    }

    .fotosContainer {
        max-width: 450px;
    }

    .primerFoto {
        max-width: 100%;
        margin-top: 8em;
    }
    .primerFoto h2 {
        text-align: center;
    }


    .segundaFoto {
        max-width: 100%;
        margin-top: 8em;
    }
    .segundaFoto h2 {
        text-align: center;
    }

    .textoNosotras {
        font-size: 14px; /* Reduce el texto descriptivo */
    }

    .fotoMaru, .fotoCeci {
        max-width: 100%; /* Asegura que las imágenes ocupen el 100% del ancho disponible */
    }
}