@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&display=swap');

.sansBold {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.sansLight {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}  



.tituloValores {
    margin-left: 150px;
    margin-top: 200px;
    color: #41a62a;
    font-size: 53.75px;
}

.textoValores {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.subTextoValores { 
    margin-left: 30px;
    color: #96bf0d;
    font-size: 37.32px;
}

.imagenValores {
    width: 100%;
    height: auto;
}

.autorValores {
    margin-right: 30px;
    color: #96bf0d;
    font-size: 37.32px;
    display: block;
    text-align: end;
}

