@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;700&display=swap');

.sansBold {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.sansLight {
    font-family: "Public Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}  



.tituloValores {
    margin-left: 150px;
    margin-top: 200px;
    color: #41a62a;
    font-size: 53.75px;
}

.textoValores {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.subTextoValores { 
    margin-left: 30px;
    color: #96bf0d;
    font-size: 37.32px;
}

.imagenValores {
    width: 100%;
    height: auto;
}

.autorValores {
    margin-right: 30px;
    color: #96bf0d;
    font-size: 37.32px;
    display: block;
    text-align: end;
}





/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .tituloValores {
      font-size: 2.2rem; /* Reduce el tamaño del título en pantallas pequeñas */
      margin-top: 30px;
    }
  
    .textoValores {
      font-size: 1rem; /* Ajusta el tamaño de la fuente en dispositivos móviles */
      width: 90%;
    }
  
    .subTextoValores {
      font-size: 1.5rem; /* Reduce el tamaño del subtítulo */
    }
  
    .imagenValores {
      width: 100%;
    }
  }
  
  /* Ajustes para pantallas muy pequeñas (móviles muy pequeños) */
  @media (max-width: 480px) {
    .tituloValores {
      font-size: 1.8rem; /* Aún más pequeño en pantallas pequeñas */
      margin-top: 20px;
    }
  
    .textoValores {
      font-size: 0.9rem; /* Ajusta la fuente */
      margin: auto;
    }
  
    .subTextoValores {
      font-size: 1.3rem; /* Tamaño más pequeño para pantallas muy pequeñas */
    }
  }