/* Estilos para el carrusel */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden; /* Oculta las imágenes fuera del área visible */
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Desliza las imágenes suavemente */
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que las imágenes cubran el contenedor sin distorsionarse */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Estilo para el texto */
h1, h2 {
  text-align: center;
  color: #333;
}

.sansBold {
  font-family: "Public Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.sansLight {
  font-family: "Public Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}  
